<!DOCTYPE html>

<html>
    <head>
        <style type="text/css">
        h3 {
            padding-top: 1cm;
            padding-left: 5cm;
            padding-right: 5cm;
            font: courier;
        }
        </style>
        <link href="../static/style.css" rel="stylesheet"/>
    </head>

    <body>
        <h3>
            <p>
                In the Dec 2017 iteration of BOTTER THAN YOU, an application developed by London Lowmanstone and William Yao,
                a computer bot plays Tic-Tac-Toe and Connect4 at a professional level. Utilizing the premises of Monte Carlo
                and Minimax Algorithms with optimizations, the bot learns to play games on the fly, and play them very well.
                Just be warned, you will lose much more than you will win.
            </p>

            <p>
               ABOUT the Creators:
            </p>

            <p>
                <img src=https://www.hopkinsschools.org/sites/default/files/public/ll1.jpg width="200" height="133"></img>
                <br/>
                   <font color="red" size="8">London Lowmanstone</font> is a freshman at Harvard College residing in Hollis. He is a part of the
                   <a href="https://harvardrobotics.com/">Harvard Robotics Club</a>, a flute player in the <a href="https://www.harvardband.org/">Harvard Band</a>
                   and a member of the <a href="http://harvardcomposers.weebly.com/">Harvard Composers Association</a>. He is passionate about VR programming, song writing,
                   and one day dreams of using robots to save people who have been affected by natural disasters.
            </p>

            <p>
               <img src=https://static1.squarespace.com/static/54d2751ee4b010d058476c48/t/59ed28eab07869946964c899/1508732627887/will+brattle.jpg width="120" height="180"></img>
               <br/>
               <font color="green" size="8">William Yao</font> is a freshman at Harvard College residing in Grays. He is a violinist in the
               <a href="https://www.brattlestreetchamberplayers.com"> Brattle Street Chamber Players</a> and the <a href="http://www.harvardradcliffeorchestra.org/">Harvard Radcliffe Orchestra</a>.
               He is also a member of the <a href="http://www.thecrimson.com/">Harvard Crimson</a>. William enjoys running at night along the river and watching extreme eating challenge
               videos.
            </p>
        </h3>

       <form action="/" method="post">
           <button class="btn btn-primary" type="submit" style="height:100px; width:100px">BACK</button>
       </form>

    </body>
</html>