<!DOCTYPE html>

<html>
    <head>
        <style type="text/css">
            canvas {
                padding-left: 0;
                padding-right: 0;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 1000px;
            }
        </style>
        <link href="../static/indexstyle.css" rel="stylesheet"/>
    </head>
    
    <body>

        <center><img src="../static/logos/BotterThanYou.PNG" height=300px width = 460px><img/></center>
        <canvas id='canvas' width=1000 height=550>This canvas cannot be displayed</canvas>
        
        <script src='../static/index.js'></script>
         
    </body> 
</html>
