<!DOCTYPE html>

<html>
    <head>
        <style type="text/css">
        h3 {
            padding-top: 2cm;
            padding-left: 10cm;
        }
        </style>
        <link href="../static/style.css" rel="stylesheet"/>
    </head>
    
    <body>
        <h3>
            <p><font color="green">TO PLAY</font> Tic-Tac-Toe:</p>
            <ol>
               <li>Select the Tic-Tac-Toe Button on the homescreen</li>
               <li>Use the mouse to click the location on the board you wish to place a marker (the player to move first is randomly decided)</li>
               <li>A loading circle will appear when the bot is thinking, followed by a move by the bot. Do not click while the bot is making a move</li>
               <li>Try to get three in row</li>
               <li>Once the game is complete, click restart to rematch or back to return to the home screen</li>
               <li>For more information on the rules of the game, visit <a href="https://en.wikipedia.org/wiki/Tic-tac-toe">Tic-Tac-Toe</a></li>
            </ol>
            <p><font color = "green">TO PLAY</font> Connect4:</p>
            <ol>
               <li>Select the Connect4 Button on the homescreen</li>
               <li>Use the mouse to click anywhere on the column of the board you wish to place a marker (the player to move first is randomly decided)</li>
               <li>A loading circle will appear when the bot is thinking, followed by a move by the bot. Do not click while the bot is making a move</li>
               <li>Try to get four in row</li>
               <li>Once the game is complete, click restart to rematch or back to return to the home screen</li>
               <li>For more information on the rules of the game, visit <a href="https://en.wikipedia.org/wiki/Connect_Four">Connect4</a></li>
            </ol>
        </h3>
        
        <form action="/" method="post">
            <button class="btn btn-primary" type="submit" style="height:100px;width:100px">BACK</button>
        </form>
  
    </body> 
</html>